<template name="file">
  <div class='input-group'>
    <span class='input-group-btn'>
      <span class='btn btn-primary btn-file'>
        Select file <input type='file' name='file' />
      </span>
    </span>

    <input id='filePath' type='text' class='form-control' readonly>
  </div>

  <div class="progress">
    <div class="progress-bar"
          role="progressbar"
          aria-valuenow="{{uploadProgress}}"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: {{uploadProgress}}%;">
      <span>{{uploadProgress}}%</span>
    </div>
  </div>
</template>