html {
	position: relative;
	height: 100%;
	font-size: 10px;
}

body {
	height: 100%;
}

a:link {
	text-decoration: none;
}

.spinner {
	position: fixed;
	top:50%;
	left:50%;
}

#rootContainer {
	height:100%;
	position: relative;
}

.phone * {
	font-size:30px;
}

.desktop * {
	font-size:1vw;
}

.navbar {
	display:inline-block;
	margin:0;
	word-break: break-all;
}

.accountpane {
	float:right;
}

.phone .accountpane button {
	min-width: 10vw;
	min-height: 10vw;
}

.phone input[type="checkbox"] {
	width: 50px;
	height: 50px;
}

.phone .modal-dialog {
	width:100%;
}

.sectionContainer {
	border-radius: 3px;
	border-style: dashed;
	border-color: #3EB489;
	border-width: 2px;
	min-height: 20vh;
	margin-top: 1px;
	border-radius:5px 2px 5px 2px;
	overflow: hidden;
	/*font-size: 2vh;*/
}

.sectionContainer:hover {
	border-style: ridge;
}

.sectionContainer .title {
	text-align: center;
}

/* SECTION ROUTE */

.phone #createThread *:not(textarea) {
	min-height: 10vw;
	font-size: 5vw;
}

#createThread textarea {

}

div#pollInput {
	text-align: center;
}

#sectionViewCount {
	/*font-size: 3vh;*/
	text-align: center;
	margin:1vh;
}

.threadContainer {
	border-style: dashed;
}

.desktop .threadContainer {
	border-radius: 5px;
	border-color: #3EB489;
	border-width: 2px;
	min-height: 250px;
	max-height:250px;
	overflow:hidden;
	/*font-size: 2vh;*/
}

.phone .threadContainer {
	border-radius: 5px;
	border-color: #3EB489;
	border-width: 2px;
	height:60vw;
	overflow:hidden;
}

.threadContainer img {
	width: 100%;
	height: 60%;
}

.threadContainer video {
	width: 100%;
	height: 60%;
	max-height: 200px;
}

.threadContainer .embed iframe {
	width: 100%;
	height: 60%;
}

.threadContainer .livestream iframe {
	width: 100%;
	height: 60%;
}

.threadContainer .poll {
	width:100%;
}

.phone .threadContainer .poll {
	width:45vw;
}

.desktop .threadContainer .poll {
	width:15vw;
}

.threadContainer .poll canvas {
	width:100%;
}

.threadContainer .poll .threadTitle {
	text-align: center;
}

.threadContainer:hover {
	border-style:outset;
}

.threadContainer a {
	text-decoration: none;
	word-wrap: break-word;
}

.threadContainer .header {
	max-height: 10px;
	overflow-y: hidden;
}

.threadContainer .threadViewCountContainer {
	float:right;
}

.threadContainer hr {
	margin:1px;
}
/* /SECTION ROUTE */


/* THREAD ROUTE */
.desktopThreadRouteRootContainer {
	height:60%;
}

.desktopThreadRouteRootContainer.readonly {
	height:85vh;
}

.phoneThreadRouteRootContainer {
	height:50%;
}

.phoneThreadRouteRootContainer.readonly {
	height:90%;
}

.tabletThreadRouteRootContainer {
	height:90%;
}

.desktopThreadRouteRootContainer #messagelist {
	overflow-y:scroll;
	height:100%;
}

.phoneThreadRouteRootContainer #messagelist {
	overflow-y:scroll;
	height:100%;
}

.tabletThreadRouteRootContainer #messagelist {
	overflow-y:scroll;
	height:45%;
}
 
#messagelist.maximized {
	height:100%;
}

.metadata .actions {
	float:right;
	margin-right: 10px;
}

.phone .metadata time {
	font-size: 1vw;
}

.phone .metadata .reply {
	font-size: 1.4vw;
}

.phone .metadata .actions button {
	min-width: 10vw;
	min-height: 7vw;
}

.disliked {
	color: red;
}

.liked {
	color: green;
}

.inputArea {
	/* Set the fixed height of the footer here */
	position:fixed;
	bottom:0;
}

.inputArea .progress {
	background-color: #222222;
}

.desktop .inputArea {
	
}

.phone .inputArea {
	
}

.phone .inputArea *:not(textarea) {
	/*font-size: 3vh;*/
}

.phone .inputArea input {
	height: 7vw;
}

.phone .progress {
	height:5vw;
}

.tablet .inputArea {
	height:50vw;
}

.tablet .inputArea * {
	/*font-size: 3vh;*/
}

.tablet .inputArea input {
	height: 7vw;
}

.tablet .progress {
	height:5vw;
}

.desktop .minimized {
	height: 2.5vw;
}

.phone .minimized {
	height: 5vw;
}

.tablet .minimized {
	height: 5vw;
}

.inputArea textarea {
	resize: none;
}

.inputArea #hideInputArea {
	float:right;
}

.inputArea #charactersTyped {
	float:left;
}

.btn-file {
	position:relative;
	overflow:hidden;
}

.btn-file input[type=file] {
	position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.minimized #sendMessage {
	visibility: hidden;
}

.messageContainer {
	border-radius: 10px 10px 10px 10px;
	border-style: ridge;
	border-color: #3EB489;
	border-width: 4px;
	/*margin:0.5vh;*/
}

.desktop .messageContainer {
	/*font-size: 2vh;*/
}

.phone .messageContainer {
	/*font-size:3vw;*/
}

.messageContainer .content .file {
	text-align: center;
	display:table-cell;
	float:left;
	cursor:pointer;
}

.messageContainer .content .embed {
	text-align: center;
	display:table-cell;
	float:left;
	cursor:pointer;
}

.messageContainer .content .pollContainer {
	float:left;
	width:50vw;
}

.phone .messageContainer .content .pollContainer {
	float:left;
	width:95vw;
}

.messageContainer .content .poll {
	float:left;
	width:100%;
}

.messageContainer .content .poll canvas {
	float:left;
	width:100%;
}

.messageContainer hr {
	margin-top:8px;
	margin-bottom:0px;
	height:1px;
	background-color:green;
}

.messageContainer .content .minimized {
	max-width: 20vw;
	width: auto;
	height: auto;
	display: block;
}


.phone .messageContainer .content .minimized {
	max-width: 35vw;
}

.messageContainer img {
	width:100%;
	height:100%;
}

.messageContainer video {
	width:100%;
	height:100%;
}

.messageContainer audio {
	background-color:blue;
}

.messageContainer .content .msg {
	white-space: pre-line;
	word-break:break-all;
}

.phone .messageContainer .content * {
	font-size:3rem;
}

.messageContainer .content .msg .greentext {
	color:green;
}

.messageContainer .content .msg .bluetext {
	color:blue;
}

.messageContainer .content {
	display:table-cell;
	margin:3px;
}

.messageContainer .replies {
	display:table-cell;
	vertical-align: bottom;
}

.popover {
	width:100%;
}

/* /THREAD ROUTE */


/* NOT USED ATM */
#filedrop {
	background-color: #3EB489;
	width:50%;
	height:200px;
}

/* NOT USED ATM */
#drawingBoard {
	cursor:pointer;
}

/* NOT USED ATM */
#drawingBoard:active {
	cursor:crosshair;
}

/******************************** THEMES **********************/

/* MINT THEME */

.mintBg {
	background-color: #CCFFCC;
}

.mintBg a:visited {
	color:#CE5A57;
}

.mintBg a:link {
	color:#444C5C;
}

.mintContentBg {
	background-color: #118C4E;
}

.mintThread {
	background-color: #FFFFCC;
	color: #AD864F;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

.mintMessage {
	background-color: #FFFFCC;
	color: #AD864F;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

.mintInput {
	background-color: #FFFFCC;
}

/* /MINT THEME */

/* DARK THEME */

.darkBg {
	background-color: #021C1E;
}

.darkBg a {
	color:#7DA3A1;
}

.darkContentBg {
	background-color: #004445;
}

.darkThread {
	background-color: #004445;
	color: #444C5C;
}

.darkMessage {
	background-color: #2C7873;
	color:#444C5C;
}

.darkInput {
	background-color:#2C7873;
}

/* /DARK THEME */

/* MONOKAI THEME */

.monokaiBg {
	background-color: #171812;
}

.monokaiBg a {

}

.monokaiContentBg {

}

.monokaiThread {
	background-color: #272822;
	color: #A6E22E;
}

.monokaiMessage {
	background-color: #272822;
	color:#A6E22E;
}

.monokaiInput {
	background-color:#272822;
}

/* /MONOKAI THEME */

/* MARS THEME */

.marsBg {
	background-color: #46211A;
}

.marsBg a {
	color:#BA5536;
}

.marsThread {
	background-color: #693D3D;
	color: #E1B16A;
}

.marsMessage {
	background-color: #693D3D;
	color: #E1B16A;
}

.marsInput {
	background-color: #693D3D;
}

/* /MARS THEME */

/* LSD THEME */

@keyframes bglsd {
	0% { 
		background:radial-gradient(violet 5%, red 25%, blue 55%);
	}
	100% { 
		background:radial-gradient(blue 5%, red 25%, violet 55%);
	}
}

@keyframes threadlsd {
	0% {
		background-color: #693D3D; 
	}
	50% {
		background-color: violet;
	}
	100% {
		background-color: red;
	}
}

@keyframes messagelsd {
	0% {
		background-color: #693D3D; 
	}
	50% {
		background-color: violet;
	}
	100% {
		background-color: #272822;
	}
}

.lsdBg {
	animation-name: bglsd;
	animation-duration:2s;
	animation-iteration-count: infinite;
}

.lsdThread {
	animation-name: threadlsd;
	animation-duration:5s;
	animation-iteration-count: infinite;
}

.lsdMessage {
	animation-name: messagelsd;
	animation-duration:7s;
	animation-iteration-count: infinite;
}

.lsdInput {

}

/* /LSD THEME */

/* PP THEME */

.ppBg {
	background-color: black;
}

.ppBg a {
	color:blue;
}

.ppThread {
	background-color: black;
	color: yellow;
}

.ppMessage {
	background-color: black;
	color: yellow;
}

.ppInput {
	background-color: white;
}

/* /PP THEME */

/* SCROLLBAR CSS */

::-webkit-scrollbar {
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

/* /SCROLLBAR CSS */

/* BOOTSTRAP OVERRIDE */

.popover {
	max-width: 80%;
    white-space:pre-wrap;
}

/* /BOOTSTRAP OVERRIDE */