<template name="root">
  <body>
    <div id="rootContainer">
      <div class="col-xs-12">
        <div class="accountpane">
          <button class="btn btn-info" 
                    data-toggle="modal" 
                    data-target="#settingsModal">
            <span class="glyphicon glyphicon-cog"></span>
          </button>

          {{#unless settings.readonly}}
            {{#if currentUser}}
              {{#if isInRole 'superadmin'}}
                <a href="/account-listing" id="accountListing" >Account listing</a>

                <b>Role: Superadmin</b>
              {{/if}}

              {{#if isInRole 'moderator'}}
                <b>Role: Moderator</b>
              {{/if}}
                <span>Hello, {{currentUser.username}}</span>

              <button class="btn btn-warning"
                      id="logoutButton"
                      value="logout">Logout</button>
            {{else}}
              <button class="btn btn-info" 
                      value="login" 
                      data-toggle="modal" 
                      data-target="#accountModal">Login/Register</button>
            {{/if}}
          {{/unless}}

          {{#unless settings.readonly}}
            <span class="glyphicon glyphicon-user">{{connectedClientAmount}}</span>
          {{/unless}}
        </div>

        <div class="navbar">
          <a href="/">
            <span class="glyphicon glyphicon-home"></span>
          </a>

          {{#with currentSection}}
          &rArr;
            <a href="/{{this}}">
              <span>{{this}}</span>
            </a>

            {{#with currentThread}}
            &rArr;
              <a href="/{{currentSection}}/{{this}}">
                <span>{{this}}</span>
              </a>
            {{/with}}
          {{/with}}
        </div>

        
      </div>
      {{> Template.dynamic template=main}}
      
    </div>

    <!-- Login/Register account modal -->
    <div class="modal fade" id="accountModal" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login/Register account</h4>
          </div>

          <div class="modal-body">
            <form id="accountActionForm">
              <input type="text" class="form-control" name="accountName" placeholder="Name" />
              <input type="password" class="form-control" name="accountPassword" placeholder="Password" />
              <div><span>Registering <input type="checkbox" name="registering" /></span></div>
              <input type="submit" class="btn btn-success" name="accountAction" value="Login/Register" />
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Settings modal -->
    <div class="modal fade" id="settingsModal" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Settings</h4>
          </div>

          <div class="modal-body">
            <h3>Theme</h3>
            <select id="theme" class="form-control">
              {{#each themes}}
                <option value="{{name}}" {{isSelected this.name}}>{{name}}</option>
              {{/each}}
            </select>
            <hr />

            <h3>Messaging</h3>
            <input type="checkbox"
                    name="autoscroll"
                    checked="{{autoscrollToggled}}" />Autoscroll
            <hr />

            <h3>Usability</h3>
            <input type="checkbox"
                    name="readonly" 
                    checked="{{readonlyToggled}}" />Readonly mode
            <br />
            <input type="checkbox"
                    name="reactive" 
                    checked="{{reactiveToggled}}" />Reactive data

            <h3>Performance</h3>
            <input type="checkbox"
                    name="lightweight"
                    checked="{{lightweightToggled}}" />Lightweight mode
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </body>
</template>