<template name="messageContainer">
  <section id="{{count}}" 
            class="messageContainer">

    <div class="metadata">
      <time>{{finnishDate timestamp}}</time>

      <a href="{{count}}" 
          class="reply" 
          data-msg-id="{{_id}}">#{{count}}</a>
      
      <div class="actions">
        {{#if isInRole 'superadmin,moderator'}}
          <b>{{from}}</b>
          <button data-owner-id="{{from}}"
                  data-msg-id="{{_id}}"
                  class="btn-warning"
                  name="banUser">Ban user</button>

          <button data-msg-id="{{_id}}"
                  class="btn-danger" 
                  name="deleteMessage">Delete message</button>
        {{/if}}

        {{{styleLikes likes}}}
        <button data-msg-id="{{_id}}" 
                class="rate-up btn-success glyphicon glyphicon-thumbs-up">
        </button>
        <button data-msg-id="{{_id}}" 
                class="rate-down btn-danger glyphicon glyphicon-thumbs-down">
        </button>
      </div>
    </div>
    <hr />

    <div class="content">
      {{#if embedLink}}
      <div class="embed">
        <iframe src="{{embedLink}}"
                frameborder="0" 
                allowfullscreen>
        </iframe>
      </div>
      {{/if}}

      {{#if downloadUrl}}
        <div class="file">
          {{{properFileHtml downloadUrl}}}
        </div>
      {{/if}}

      {{#if pollId}}
        <div class="pollContainer">
          <div class="poll">
          <!-- TODO poll display when votes exist -->
            <canvas id="{{pollId}}"></canvas>
            {{#unless votes pollId}}
              <b>No votes given yet</b>
            {{/unless}}
          </div>

          <div class="voteBtns">
            <select id="optionSelection"
                    style="width:100%;">
              {{#each pollOptions pollId}}
                <option value="{{option}}">{{option}}</option>
              {{/each}}
            </select>
            
            <button class="voteBtn"
                    data-pollId="{{pollId}}"
                    style="width:100%;">Vote</button>
          </div>

          {{{pollHtml pollId}}}
        </div>
      {{/if}}

      {{#if livestream}}
        <div class="livestream">
          <iframe src="https://player.twitch.tv/?channel={{livestream}}" 
                frameborder="0"
                height="378" 
                width="620"></iframe>

        {{#if chatIncluded}}
          <iframe src="https://www.twitch.tv/{{livestream}}/chat?popout=" 
                  frameborder="0" 
                  scrolling="no"
                  height="378"
                  width="310"></iframe>
        {{/if}}
        
        </div>
      {{/if}}
      
      <span class="msg">{{{formatMsg msg}}}</span> 
    </div>

    {{#with replies}}
      <hr />
      <section class="replies">
        <span>Replies:{{#each this}}<a href="#{{this}}">#{{this}}</a>{{/each}}
        </span>
      </section>
    {{/with}}

  </section>
</template>