<template name="beforeThread">
  {{> thread}}

  {{#unless settings.readonly}}
    {{> inputMessage sectionId=sectionId threadId=threadId}}
  {{/unless}}
</template>

<template name="thread">
  <div class="{{deviceSpecificClass}} {{isReadOnly}}">
    <div class="threadMetaContainer">
      <span class="glyphicon glyphicon-user">{{viewerCount}}</span>
      <!--<span class="text-center"> {{threadName}} </span>-->
    </div>

    <div id="messagelist">
      {{#each messages}}
        {{> messageContainer}}
      {{/each}}
    </div>
  </div>
</template>